.applications {
  padding: 6rem 0;
  width: 90%;
  max-width: 60rem;
  min-width: 30rem;
  margin: 0 auto;

  &__loader {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  h1 {
    text-align: center;
    color: $primary;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 2.5rem;
  }

  &__container {
    border: 0.1rem solid $gray;
    border-top: none;
  }

  &__empty {
    width: 60%;
    margin: 3rem auto;

    p {
      font-size: 2rem;
      text-align: center;
      margin-top: 3rem;
      font-weight: 900;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
