.detail-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 16rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1em 1.5em;
  box-shadow: 0px 0px 10px 0px rgba(192, 192, 192, 0.75);

  .image-container {
    width: 100%;
    font-size: 10em;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      color: $primary;
      text-align: center;
      font-size: clamp(1.9rem, 5vw, 2.3rem);
      font-weight: 700;
      margin: 0.7em 0;
    }

    & > * + * {
      margin-top: 1em;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        &:nth-child(1) {
          color: $primary;
          font-size: clamp(1.6rem, 4.5vw, 2.1rem);
          font-weight: 700;
          margin-bottom: 0.2rem;
        }

        &:nth-child(2) {
          color: $primary;
          font-size: clamp(1.5rem, 4vw, 2rem);
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }

  @include breakpoint("medium-large") {
    flex-direction: row;
    padding-bottom: 2em;
  }
}

.loader-detail {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20rem;
}
