.detail-container {
  // min-height: calc(100vh - (8 * 0.7rem) - 6rem);
  width: 90%;
  margin: 6rem auto;
  border-radius: 5px;
  font-size: 1rem;
  padding: 4em 1.5em;
  box-shadow: 0px 0px 10px 0px rgba($gray, 0.75);
}

.loader-detail {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.not-found {
  font-size: 200px;
}
.detail-header {
  color: $primary;
  text-align: center;
  font-size: clamp(1.9rem, 5vw, 2.3rem);
  font-weight: 700;
  margin: 0.7em 0; 
}
.detail-title {
  color: $primary;
  font-size: clamp(1.6rem, 4.5vw, 2.1rem);
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.detail-text {
  color: $dark;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 300;
  line-height: 1.5;
}
.detail-desc {
  color: $dark;
  font-size: clamp(1.0rem, 2vw, 1.5rem);
  font-weight: 300;
  line-height: 1.25;
}
.detail-button {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 300;
  line-height: 1.5;
}