.badge {
  //   padding: 1rem 1.2rem;
  background: yellow;
  font-size: 1rem;
  padding: 0.3em 0.5em;
  border-radius: 2rem;
  color: white;
  font-weight: 900;

  &--pending {
    background-color: hsl(29, 100%, 47%);
  }

  &--success {
    background: rgb(6, 174, 6);
  }

  &--declined {
    background: rgb(223, 3, 3);
  }
}

@include breakpoint("medium") {
  .badge {
    font-size: 1.2rem;
  }
}
