.menuBar {
  width: 40%;
  min-height: 15rem;
  background: $primary;
  position: absolute;
  right: 0;
  top: 3rem;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  transform: translate(101%);
  transition: all 250ms ease-in-out;
  border-radius: 0.5rem;
  z-index: 1;
  // display: none;

  &__link {
    color: $gray;
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: none;

    span {
      text-align: end;
    }

    i {
      margin-right: 1rem;
    }
  }

  &--open {
    transform: translate(0);
  }

  * + * {
    margin-top: 2rem;
  }
}
