// .modal-backdrop {
//   z-index: -1;
//   display: none;
// }

.modal-title {
  font-size: 2vw;
  color: $primary;
}

.modal--span {
  display: block;
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
  line-height: 1.75vw;
  font-weight: bold;
  color: $secondary;
}

.modal--p {
  font-size: 1.25vw;
  line-height: 1.5vw;
  max-height: 3vw;
  padding-left: 0.5vw;

  //   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal--p__large {
  font-size: 1.25vw;
  line-height: 1.5vw;
  max-height: 13.25vw;
  padding-left: 0.5vw;

  //   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-footer .btn {
  font-size: 1.25vw;
}

.modal-img-body {
  background-color: $soft-primary;
  img {
    object-fit: cover;
    display: block;
    max-height: 86.25vh;
  }
  i {
    object-fit: cover;
    display: block;
    max-height: 86.25vh;
  }
}
