$secondary: #462255;
$primary: #313b72;
$primary--300: hsl(257, 40%, 32%);
$header-background: white;
$hover: #462255;
$input-text: #727171;
$yellow: #fd9251;
$gray: #c0c0c0;
$lightGray: #dadada;
$jo: 400px;

$breakpoints: (
  "small": 400px,
  "medium": 700px,
  "medium-large": 1000px,
);
